<main class="container-fluid">
    <div class="row" id="content">
        <div class="col-md-3">
            <div class="row value_board flex-column mb-5">
                <h2>Gross Profit Margin</h2>
                <p>87,5%</p>
            </div>
            <div class="row value_board flex-column mb-5">
                <h2>Total Revenue from Sales</h2>
                <p>€800.675,00</p>
            </div>
            <div class="row value_board flex-column mb-5">
                <h2>Total COGS</h2>
                <p>€101.382,00</p>
            </div>
            <div class="row value_board flex-column">
                <h2>Acconts Receivable</h2>
                <p>€10.726,25</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row graphic_board-50 pb-3">
                <div class="value_board flex-column">
                    <h2>Sales vs Cost of Goods Sold</h2>
                </div>
            </div>
            <div class="row graphic_board-50">
                <div class="value_board flex-column">
                    <h2>Sales vs Cost of Goods Sold</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row value_board info_board flex-column">
                <h2>Customer Accounts</h2>
            </div>
        </div>
    </div>
</main>