<main class="container-fluid">
    <div class="main">
        <div id="content">
            <div class="row">
                <div class="col-xl-4">
                    <div class="value_board flex-column board-100">
                        <h2>Gross Profit Margin</h2>
                        <p>{{getGrossProfitMargin()}} %</p>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="value_board flex-column board-100">
                        <h2>Total Revenue from Sales</h2>
                        <p>{{getRevenue()}} €</p>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="value_board flex-column board-100">
                        <h2>Accounts Receivable</h2>
                        <p>{{getAccountsReceivable()}} €</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8">
                    <div class="row board-50">
                        <div class="value_board flex-column">
                            <h2 class="mb-5">Sales per City</h2>
                            <app-sales-bar-chart></app-sales-bar-chart>
                        </div>
                    </div>
                    <div class="row board-50">
                        <div class="value_board flex-column">
                            <h2 class="mb-5">Monthly Sales and Cumulative Sales</h2>
                            <app-sales-line-chart></app-sales-line-chart>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="board-100">
                        <div class="list_board info_board flex-column">
                            <h2>Highest Selling Products</h2>
                            <ul>
                                <li class="with-border" *ngFor="let p of getProducts()">
                                    <div class="row">
                                        <p class="col-sm-6">{{p['name']}}</p>
                                        <p class="col-sm-6">{{p['quantity']}} units</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>