main {
    width: calc(100% - 260px); 
    float:right;
    padding: 3.5rem 5rem;
}

main h1 {
    color: #20689f;
    font-size: 2rem;
    padding-bottom: 1rem;
}

main p {
    margin-bottom: 0%;
}

main .info_board {
    margin-bottom: 3rem;
}

main .value_board {
    margin-left: 0%;
}

main #sales_content {
    margin-top: 2rem;
}

main #sales_content .value_board {
    padding: 2rem;
    background-color: white;
    border-radius: .25rem;
    border: solid .5px #a8b2b9;
    margin-right: 3rem;
}

main #sales_content .value_board h2{
    font-weight: normal;
    font-size: 1.5rem;
}

main #sales_content .value_board p{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

main #sales_content .graphic_board {
    height: 100%;
}

// TODO
//css in common with overview, change to a common layout css