<main class="container-fluid">
    <div class="row" id="content">
        <div class="col-md-3">
            <div class="row board-25">
                <div class="value_board flex-column">
                    <h2>Gross Profit Margin</h2>
                    <p>87,5%</p>
                </div>
            </div>
            <div class="row board-25">
                <div class="value_board flex-column">
                    <h2>Total Revenue from Sales</h2>
                    <p>€800.675,00</p>
                </div>
            </div>
            <div class="row board-25">
                <div class="value_board flex-column">
                    <h2>Total COGS</h2>
                    <p>€101.382,00</p>
                </div>
            </div>
            <div class="row board-25">
                <div class="value_board flex-column">
                    <h2>Acconts Receivable</h2>
                    <p>€10.726,25</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row board-50">
                <div class="value_board flex-column">
                    <h2>Sales per District</h2>
                </div>
            </div>
            <div class="row board-50">
                <div class="value_board flex-column">
                    <h2>Cumulative Sales and Monthly Sales</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row board-100">
                <div class="list_board info_board flex-column">
                    <h2>Customer Accounts</h2>
                    <ul>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                        <li>
                            <div class="row">
                                <p class="col-sm-6">Ana Rodrigues</p>
                                <p class="col-sm-6">NIF 233045650</p>
                            </div>
                            <p>Av. 24 de Julho, Lisboa</p>
                            <p>Portugal</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>