<main class="container-fluid">
    <div class="main">
        <div class="row" id="content">
            <div class="col-xl-6">
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>Total assets in stock</h2>
                        <p>€{{getStock()}}</p>
                    </div>
                </div>
                <div class="row board-75">
                    <div class="value_board flex-column">
                        <h2 class="mb-5">Assets value in top 5 warehouses</h2>
                        <app-inventory-bar-chart></app-inventory-bar-chart>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row board-100">
                    <div class="list_board info_board flex-column">
                        <h2>Products in stock</h2>
                        <ul>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">4500 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>