<main class="container-fluid">
    <div class="main">
        <div class="row" id="content">
            <div class="col-xl-6">
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>Total assets in stock</h2>
                        <p>{{getStock()}} €</p>
                    </div>
                </div>
                <div class="row board-75">
                    <div class="value_board flex-column">
                        <h2 class="mb-5">Assets value in top 5 warehouses</h2>
                        <app-inventory-bar-chart></app-inventory-bar-chart>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row board-100">
                    <div class="list_board info_board flex-column">
                        <h2>Products in stock</h2>
                        <ul>
                            <li class="with-border" *ngFor="let p of getProducts()">
                                <div class="row">
                                    <p class="col-sm-3">{{p['brand']}}</p>
                                    <p class="col-sm-3">{{p['name']}}</p>
                                    <p class="col-sm-3">{{p['quantity']}} Units</p>
                                    <p class="col-sm-3">{{p['value']}} €</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>