<main class="container-fluid">
    <div class="main">
        <div class="row" id="content">
            <div class="col-md-5">
                <div class="board-100">
                    <div class="list_board info_board flex-column">
                        <h2>Balance Sheet</h2>
                        <ul>
                            <li class="subtitles">
                                <div class="row">
                                    <p class="col-sm-4">Description</p>
                                    <p class="col-sm-4">Debit</p>
                                    <p class="col-sm-4">Credit</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Cash</p>
                                    <p class="col-sm-4">-</p>
                                    <p class="col-sm-4">€1.000,00</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Cash deposit</p>
                                    <p class="col-sm-4">-</p>
                                    <p class="col-sm-4">€5.000,00</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Accounts Receivable</p>
                                    <p class="col-sm-4">-</p>
                                    <p class="col-sm-4">€10.725,25</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Accounts Receivable</p>
                                    <p class="col-sm-4">€3.613,45</p>
                                    <p class="col-sm-4">-</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">State and other public entities</p>
                                    <p class="col-sm-4">-</p>
                                    <p class="col-sm-4">€200,00</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Purchases</p>
                                    <p class="col-sm-4">€101.382,00</p>
                                    <p class="col-sm-4">-</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Cost of Goods Sold</p>
                                    <p class="col-sm-4">€100.410,00</p>
                                    <p class="col-sm-4">-</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Sales</p>
                                    <p class="col-sm-4">-</p>
                                    <p class="col-sm-4">€800.675,00</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Services Provision</p>
                                    <p class="col-sm-4">-</p>
                                    <p class="col-sm-4">€701,00</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Salaries</p>
                                    <p class="col-sm-4">€310.000,00</p>
                                    <p class="col-sm-4">-</p>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-4">Total</p>
                                    <p class="col-sm-4">€515.405,45</p>
                                    <p class="col-sm-4">€808.302,25</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row board-50">
                    <div class="value_board flex-column">
                        <h2>Sales vs Cost of Goods Sold</h2>
                    </div>
                </div>
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>EBIT</h2>
                        <p>€610.265,00</p>
                    </div>
                </div>
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>Accounts Receivable</h2>
                        <p>€10.726,25</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>