<main class="container-fluid">
    <div class="main">
        <div class="row" id="content">
            <div class="col-xl-7">
                <div class="board-100">
                    <div class="list_board info_board flex-column">
                        <h2>Balance Sheet</h2>
                        <div>
                            <ul class="balance-sheet-ul">
                                <h3 class="titles">Current Assets</h3>
                                <li class="subtitles">
                                    <div class="row">
                                        <p class="col-sm-4">Description</p>
                                        <p class="col-sm-4">Liabilities</p>
                                        <p class="col-sm-4">Assets</p>
                                    </div>
                                </li>
                                <li *ngFor="let currentAssets of getCurrentAssets()">
                                    <div class="row">
                                        <p class="col-sm-4">{{currentAssets['name']}}</p>
                                        <p class="col-sm-4">-</p>
                                        <p class="col-sm-4">€{{currentAssets['value']}}</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="balance-sheet-ul">
                                <h3 class="titles">Non Current Assets</h3>
                                <li class="subtitles">
                                    <div class="row">
                                        <p class="col-sm-4">Description</p>
                                        <p class="col-sm-4">Liabilities</p>
                                        <p class="col-sm-4">Assets</p>
                                    </div>
                                </li>
                                <li *ngFor="let nonCurrentAssets of getNonCurrentAssets()">
                                    <div class="row">
                                        <p class="col-sm-4">{{nonCurrentAssets['name']}}</p>
                                        <p class="col-sm-4">-</p>
                                        <p class="col-sm-4">€{{nonCurrentAssets['value']}}</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="balance-sheet-ul">
                                <h3 class="titles">Current Liabilities</h3>
                                <li class="subtitles">
                                    <div class="row">
                                        <p class="col-sm-4">Description</p>
                                        <p class="col-sm-4">Liabilities</p>
                                        <p class="col-sm-4">Assets</p>
                                    </div>
                                </li>
                                <li *ngFor="let currentLiabilities of getCurrentLiabilities()">
                                    <div class="row">
                                        <p class="col-sm-4">{{currentLiabilities['name']}}</p>
                                        <p class="col-sm-4">€{{currentLiabilities['value']}}</p>
                                        <p class="col-sm-4">-</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="balance-sheet-ul">
                                <h3 class="titles">Non Current Liabilites</h3>
                                <li class="subtitles">
                                    <div class="row">
                                        <p class="col-sm-4">Description</p>
                                        <p class="col-sm-4">Liabilities</p>
                                        <p class="col-sm-4">Assets</p>
                                    </div>
                                </li>
                                <li *ngFor="let nonCurrentLiabilities of getNonCurrentLiabilities()">
                                    <div class="row">
                                        <p class="col-sm-4">{{nonCurrentLiabilities['name']}}</p>
                                        <p class="col-sm-4">€{{nonCurrentLiabilities['value']}}</p>
                                        <p class="col-sm-4">-</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="balance-sheet-ul">
                                <h3 class="titles">Totals</h3>
                                <li>
                                    <div class="row">
                                        <p class="col-sm-4">Total Current Assets</p>
                                        <p class="col-sm-4">{{getTotalCurrentAssets()}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <p class="col-sm-4">Total Non Current Assets</p>
                                        <p class="col-sm-4">{{getTotalCurrentAssets()}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <p class="col-sm-4">Total Assets</p>
                                        <p class="col-sm-4">{{getTotalAssets()}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <p class="col-sm-4">Total Current Liabilities</p>
                                        <p class="col-sm-4">{{getTotalCurrentLiabilities()}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <p class="col-sm-4">Total Non Current Liabilities</p>
                                        <p class="col-sm-4">{{getTotalCurrentLiabilities()}}</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <p class="col-sm-4">Total Liabilities</p>
                                        <p class="col-sm-4">{{getTotalLiabilities()}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h3 class="titles">Equity</h3>
                            <ul class="balance-sheet-ul">
                                <li class="subtitles">
                                    <div class="row">
                                        <p class="col-sm-4">Description</p>
                                        <p class="col-sm-4">Liabilities</p>
                                        <p class="col-sm-4">Assets</p>
                                    </div>
                                </li>
                                <li *ngFor="let accountEquity of getAccountsEquity()">
                                    <div class="row">
                                        <p class="col-sm-4">{{accountEquity['name']}}</p>
                                        <p class="col-sm-4">-</p>
                                        <p class="col-sm-4">€{{accountEquity['value']}}</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="balance-sheet-ul">
                                <h3 class="titles">Totals</h3>
                                <li>
                                    <div class="row">
                                        <p class="col-sm-4">Total Equity</p>
                                        <p class="col-sm-4">{{getTotalEquity()}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="row board-50">
                    <div class="value_board flex-column">
                        <h2>Sales vs Cost of Goods Sold</h2>
                    </div>
                </div>
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>EBIT</h2>
                        <p>€610.265,00</p>
                    </div>
                </div>
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>Accounts Receivable</h2>
                        <p>€10.726,25</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>