<!--Navbar-->
<nav class="navbar navbar-light bg-light d-flex flex-row-reverse p-4">
    <form class="form-inline">
        <button class="btn btn-primary mr-5" type="button">
            <img src="./../assets/import.png" width="20rem" alt="import_icon" loading="lazy" style="vertical-align: sub;"> 
            Import
        </button>
        <button class="btn btn-primary mr-5" type="button">
            <img src="./../assets/logout.png" width="20rem" alt="logout_icon" loading="lazy" style="vertical-align: sub;">
            Logout
        </button>
    </form>
</nav>

<!--Sidebar-->
<div class="sidebar">
    <div class="logo p-1">
        <a class="navbar-brand p-1 m-auto text-center" href="/overview">
            <img src="./../assets/full_logo.PNG" width="80%" alt="full_logo" loading="lazy" class="m-auto">
        </a>
    </div>
    <ul class="nav responsive-nav d-flex flex-column pl-3 pr-3">
        <li class="menu_btn active">
            <a href="/overview" class="row" id="overview_btn">
                <img src="./../assets/overview.png" alt="overview" loading="lazy" class="col-4">
                <p class="col-8 my-auto">Overview</p>
            </a>
        </li>
        <li class="menu_btn">
            <a href="/sales" class="row" id="sales_btn">
                <img src="./../assets/sales.png" alt="sales" loading="lazy" class="col-4">
                <p class="col-8 my-auto">Sales</p>
            </a>
        </li>
        <li class="menu_btn">
            <a href="" class="row" id="purchases_btn">
                <img src="./../assets/purchases.png" alt="purchases" loading="lazy" class="col-4">
                <p class="col-8 my-auto">Purchases</p>
            </a>
        </li>
        <li class="menu_btn">
            <a href="" class="row" id="financial_btn">
                <img src="./../assets/financial.png" alt="financial" loading="lazy" class="col-4">
                <p class="col-8 my-auto">Financial</p>
            </a>
        </li>
        <li class="menu_btn">
            <a href="" class="row" id="inventory_btn">
                <img src="./../assets/inventory.png" alt="inventory" loading="lazy" class="col-4">
                <p class="col-8 my-auto">Inventory</p>
            </a>
        </li>
    </ul>
</div>
<router-outlet></router-outlet>
<!--Footer-->
<footer>
    <div class="py-3">© 2020 Copyright:
        <a href="/"> Chameleon</a>
    </div>
</footer>