<!--Navbar-->
<nav class="navbar navbar-light bg-light d-flex flex-row-reverse p-4">
    <form class="form-inline">
        <button class="btn btn-primary mr-5 d-none d-lg-block" type="button" id="import-btn" (click)="modalToggle()">
            <img src="./../assets/import.png" width="20rem" alt="import_icon" loading="lazy" style="vertical-align: sub;"> 
            Import
        </button>
        <button class="btn btn-primary mr-5 d-none d-lg-block" type="button" id="logout-btn" (click)="logout()">
            <img src="./../assets/logout.png" width="20rem" alt="logout_icon" loading="lazy" style="vertical-align: sub;">
            Logout
        </button>
        <button type="button" class="navbar-toggler d-lg-none" data-toggle="collapse" (click)="sidebarToggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </form>
</nav>

<!--Import Modal-->
<div class="modal-dialog d-none">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Import SAF-T</h4>
            <button type="button" class="close" (click)="modalToggle()">&times;</button>
        </div>
        <div class="modal-body">
            <form [formGroup]="importForm">
                <input type="file" id="myFile" ng-model="string" ng-required="true" formControlName="filename">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="modalToggle()">Close</button>
                    <input type="submit" class="btn btn-primary" (click)="modalToggle()" (click)="sendFile()" value="Send">
                </div>
            </form>              
        </div>
    </div>
</div>

<!--Sidebar-->
<div class="navbar navbar-expand-lg">
    <div class="navbar-collapse collapse sidebar flex-column" id="side-bar">
        <div class="logo p-1">
            <a class="navbar-brand p-1 m-auto text-center" href="/">
                <img src="./../assets/full_logo.PNG" width="80%" alt="full_logo" loading="lazy" class="m-auto">
            </a>
        </div>
        <ul class="nav responsive-nav d-flex flex-column pl-3 pr-3">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} menu_btn">
                <a [routerLink]="[menuItem.path]" class="row" id="{{menuItem.type}}_btn">
                    <img src="./../assets/{{menuItem.type}}.png" alt="{{menuItem.type}}" loading="lazy" class="col-4">
                    <p class="col-8 my-auto">{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>

<!--Footer-->
<footer>
    <div class="py-3">© 2020 Copyright:
        <a href="/"> Chameleon</a>
    </div>
</footer>