.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 5;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;

    .sidebar-wrapper{
        position: relative;
        max-height: calc(100vh - 75px);
        min-height: 100%;
        overflow: auto;
        width: 260px;
        z-index: 4;

        padding-bottom: 75px;
    }

    .logo{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        p{
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: white;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    }

    .nav{
        margin-top: 20px;
        float: none;

        p{
            margin: 0;
            line-height: 30px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 45px;
            color: white;
        }

        i{
            font-size: 28px;
            float: left;
            margin-right: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
            color: white;
        }

    }

    &:after,
    &:before{
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &:before{
        background: #20689f;
    }
}

nav button {
    background-color: #20689f;
    border: #20689f;
}

nav button:hover {
    background-color: #164a72;
    border: #20689f;
}

.menu_btn {
    padding: 1rem;
    background-color: #20689f;
    margin-top: 2rem;
    border-radius: .25rem;
}

.menu_btn.active {
    background-color: #4392cf;
}

.menu_btn:hover {
    background-color: #4392cf;
    transition: 1s;
    cursor: pointer;
}

#overview_btn,#sales_btn,#purchases_btn,#financial_btn,#inventory_btn {
    margin-left: 0%;
}


