<!--Navbar-->
<nav class="navbar navbar-light bg-light d-flex flex-row-reverse p-4">
    <form class="form-inline">
        <button class="btn btn-primary mr-5" type="button">
            <img src="./../assets/import.png" width="20rem" alt="import_icon" loading="lazy" style="vertical-align: sub;"> 
            Import
        </button>
        <button class="btn btn-primary mr-5" type="button">
            <img src="./../assets/logout.png" width="20rem" alt="logout_icon" loading="lazy" style="vertical-align: sub;">
            Logout
        </button>
    </form>
</nav>

<!--Sidebar-->
<div class="wrapper">
    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="logo p-1">
                <a class="navbar-brand p-1 m-auto text-center" href="#">
                    <img src="./../assets/full_logo.PNG" width="80%" alt="full_logo" loading="lazy" class="m-auto">
                </a>
            </div>
            <ul class="nav responsive-nav d-flex flex-column pl-4 pr-4">
                <li class="menu_btn active">
                    <a href="">
                        <i class="fa fa-dashboard"></i>
                        <p>Overview</p>
                    </a>
                </li>
                <li class="menu_btn">
                    <a href="">
                        <p>Sales</p>
                    </a>
                </li>
                <li class="menu_btn">
                    <a href="">
                        <p>Purchases</p>
                    </a>
                </li>
                <li class="menu_btn">
                    <a href="">
                        <p>Financial</p>
                    </a>
                </li>
                <li class="menu_btn">
                    <a href="">
                        <p>Inventory</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
