.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    display: block;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
    background: #20689f;
}

.sidebar .logo {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: white;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 45px;
    color: white;
}

nav button {
    background-color: #20689f;
    border: #20689f;
    text-decoration: none;
}

nav button:hover {
    background-color: #4392cf;
    border: #20689f;
}

.menu_btn {
    padding: .5rem;
    background-color: #20689f;
    margin-top: 2rem;
    border-radius: .25rem;
}

.menu_btn.active {
    background-color: #4392cf;
}

.menu_btn:hover {
    background-color: #4392cf;
    transition: .5s;
    cursor: pointer;
}

#overview_btn,#sales_btn,#purchases_btn,#financial_btn,#inventory_btn{
    text-decoration: none;
}

#overview_btn p,#sales_btn p,#purchases_btn p,#financial_btn p,#inventory_btn p{
    margin-left: 0%;
}

#overview_btn img,#sales_btn img,#purchases_btn img,#financial_btn img,#inventory_btn img {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

footer div {
    float: right;
    width: 100%;
    background-color: white;
    padding-right: 1.5rem;
    text-align: right;
    margin-top: 3rem;
}

