<main class="container-fluid">
    <div class="main">
        <div id="content">
            <div class="row">
                <div class="col-xl-7 board-100">
                    <div class="value_board flex-column">
                        <h2 class="mb-5">Cumulative Purchases and Monthly Purchases</h2>
                        <app-purchases-line-chart></app-purchases-line-chart>
                    </div>
                </div>
                <div class="col-xl-5 align-self-center">
                    <div class="board">
                        <div class="value_board flex-column">
                            <h2>Accounts Payable</h2>
                            <p>{{getPayable()}} €</p>
                        </div>
                    </div>
                    <div class="board">
                        <div class="value_board flex-column">
                            <h2>Total Purchases</h2>
                            <p>{{getTotalPurchases()}} €</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-7 board">
                    <div class="list_board info_board flex-column">
                        <h2>Orders</h2>
                        <ul>
                            <li *ngFor="let order of getPurchasesList()">
                                <div class="row">
                                    <p class="col-sm-4">{{order['supplierName']}}</p>
                                    <p class="col-sm-4">{{order['totalValue']}}€</p>
                                    <p class="col-sm-4">{{order['date']}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 board">
                    <div class="list_board info_board flex-column">
                        <h2>Suppliers</h2>
                        <ul>
                            <li *ngFor="let supplier of getSuppliers()">
                                <div class="row">
                                    <p class="col-sm-4">{{supplier['supplierName']}}</p>
                                    <p class="col-sm-4" font-size="1em">{{supplier['supplierAddress']}}</p>
                                    <p class="col-sm-4">{{supplier['supplierNif']}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>