<main class="container-fluid">
    <div class="main">
        <div class="row" id="content">
            <div class="col-md-3">
                <div class="row board-100">
                    <div class="list_board info_board flex-column">
                        <h2>Suppliers</h2>
                        <ul>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">NIF 233045642</p>
                                </div>
                                <p>S. João da Madeira</p>
                                <p>Portugal</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>Accounts Payable</h2>
                        <p>€3.613,45</p>
                    </div>
                </div>
                <div class="row board-25">
                    <div class="value_board flex-column">
                        <h2>Total Purchases</h2>
                        <p>€101.382,00</p>
                    </div>
                </div>
                <div class="row board-50">
                    <div class="value_board flex-column">
                        <h2>Purchases</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row board-100">
                    <div class="list_board info_board flex-column">
                        <h2>Orders</h2>
                        <ul>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                            <li>
                                <div class="row">
                                    <p class="col-sm-6">Viarco</p>
                                    <p class="col-sm-6">5000 unit.</p>
                                </div>
                                <p>Lápis de grafite nº 2001</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>