<main class="container-fluid">
    <div class="main">
        <div id="content">
            <div class="row">
                <div class="col-xl-7 board-100">
                    <div class="value_board flex-column">
                        <h2 class="mb-5">Cumulative Purchases and Monthly Purchases</h2>
                        <app-purchases-line-chart></app-purchases-line-chart>
                    </div>
                </div>
                <div class="col-xl-5 align-self-center">
                    <div class="board">
                        <div class="value_board flex-column">
                            <h2>Accounts Payable</h2>
                            <p>{{getPayable()}} €</p>
                        </div>
                    </div>
                    <div class="board">
                        <div class="value_board flex-column">
                            <h2>Total Purchases</h2>
                            <p>{{getTotalPurchases()}} €</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-7 board">
                    <div class="list_board info_board flex-column">
                        <h2>Orders</h2>
                        <ul>
                            <li class="with-border" *ngFor="let order of getPurchasesList()">
                                <p>Supplier: {{order['supplierName']}}</p>
                                <ul class="mt-0 mb-2 pl-4">
                                    <li *ngFor="let product of getPurchasesProductsList(order)" class="row">
                                        <p class="col-sm-6">{{product[0]}}</p>
                                        <p class="col-sm-3">{{product[1]}} units</p>
                                        <p class="col-sm-3">{{product[2]}} €/unit</p>
                                    </li>
                                </ul>
                                <div class="row">
                                    <p class="col-sm-6">Total value: {{order['totalValue']}} €</p>
                                    <p class="col-sm-6">Date: {{order['date']}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 board">
                    <div class="list_board info_board flex-column">
                        <h2>Suppliers</h2>
                        <ul>
                            <li class="with-border" *ngFor="let supplier of getSuppliers()">
                                <div class="row">
                                    <p class="col-sm-5">{{supplier['supplierName']}}</p>
                                    <p class="col-sm-4" font-size="1em">{{supplier['supplierAddress']}}</p>
                                    <p class="col-sm-2">NIF: {{supplier['supplierNif']}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>