<main class="container-fluid">
    <div class="main">
        <h1>Information</h1>
        <div class="row info_board">
            <div class="col-sm-6">
                <p>Name: Chameleon</p>
                <p>Headquarters address: s/n, R. Dr. Roberto Frias, 4200-465 Porto</p>
                <p>Country: Portugal</p>
            </div>
            <div class="col-sm-6">
                <p>NIF: 233045651</p>
                <p>Email: up201706162@fe.up.pt</p>
                <p> © 2020 Chameleon</p>
            </div>
        </div>
        <div class="row" id="content">
            <div class="col-xl-4">
                <div class="row board-33">
                    <div class="value_board flex-column">
                        <h2>Gross Profit Margin</h2>
                        <p>{{getGrossProfitMargin()}} %</p>
                    </div>
                </div>
                <div class="row board-33">
                    <div class="value_board flex-column">
                        <h2>Total Revenue from Sales</h2>
                        <p>{{getRevenue()}} €</p>
                    </div>
                </div>
                <div class="row board-34">
                    <div class="value_board flex-column">
                        <h2>Total Purchases</h2>
                        <p>{{getTotalPurchases()}} €</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="row board-100">
                    <div class="value_board flex-column">
                        <h2 class="mb-5">Monthly Sales and Cumulative Sales</h2>
                        <app-sales-line-chart></app-sales-line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>